<html>
	<head>
		<title>Rails 3 Tutorial | <%=@title%></title>
	</head>
	<body>
		<h1>Twitterclone - About</h1>
		<p>
			This is a <a href="http://railstutorial.org/ruby-on-rails-tutorial-book">Rails 3 tutorial</a> application
		</p>
	</body>
</html>