<html>
	<head>
		<title>Rails 3 Tutorial | Contact</title>
	</head>
	<body>
		<h1>Twitterclone - Contact</h1>
		<p>
			Contact us at <a href="mailto:0s30s1s@gmail.com">0s30s1s@gmail.com</a>
		</p>
	</body>
</html>